body {
  padding-top: 0px;
}

.logo{
	height: 50px;
	width: 250px;
	
}

.starter-template {
  padding: 0px 15px;
  text-align: center;
}

.navbar{
	height: 70px;
	background: url(../images/bg-transparent1.png) repeat;
	margin: 0;
	padding: 0;
	width: auto;
	text-align: center;
}

.navbar-font li a:hover {
	background-color: #737373;
	color: #ffffff;
}
.navbar-font li.active a{
	background-color: #ff1a1a;
	color: #ffffff;
}
.navbar-font li a {
	color: #000000;
	display: block;
	font-family: Arial;
	font-size: 24px;
	font-weight: normal;
	line-height: 59px;
	margin: 0;
	min-height: 70px;
	padding: 0 24px;
 *padding: 0 23px; /* Needed for IE8 and old versions */
	text-align: center;
	text-transform: uppercase;
	width: auto;
}

hr.top {

  border-color: #ff1a1a;
  border-style: solid none;
  border-width: 2px;
  margin-top: 70px;
  margin-bottom: 1px;
}

hr {
  border-color: #ff1a1a;
  border-style: solid none;
  border-width: 2px;
  margin-bottom: 8px;
}
.glyprint {
	font-size: 20px; 
}